@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
  font-family: monospace;
}

.screen-bg {
  height: 100vh;
  background-image: url("../public/images/Fade-In-Background.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.screen-bg- {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-image: url("../public/images/Fade-In-Background.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.dropdown-menu {
  position: fixed;
  opacity: 1;
  padding: 1px;
  top: -30px;
  border-radius: 12px;
  transform: translateY(100px) translateX(110%);
  transition: all 0.5s;
  background: gray;
  font-size: 16px;
  right: 0.4rem;
  box-shadow: 1px 2px 10px #888888;
}

.notifications-list {
  position: fixed;
  opacity: 1;
  padding: 1px;
  top: -30px;
  border-radius: 12px;
  transform: translateY(100px);
  transition: all 0.8s;
  background: gray;
  font-size: 16px;
  width: 100%;
  right: 0;
  box-shadow: 1px 2px 10px #888888;
}

.show-dropdown-menu {
  opacity: 1;
  transform: translateY(100px) translateX(0%);
}

.hide-dropdown-menu {
  opacity: 1;
  transition: all 0.3s;
}

.page-100 {
  min-height: calc(100vh - 8.85rem);
}

.page {
  min-height: calc(100vh - (20vh + 10rem));
}

.nav-container {
  display: block;
  position: relative;
}

.amount-notif-container {
  position: absolute;
  top: -0.4rem;
  right: -0.3rem;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  background: rgb(247, 81, 81);
  display: flex;
  align-items: center;
  justify-content: center;
}

.total-amount {
  color: white;
  text-align: center;
  margin-bottom: 0;
  font-size: 0.9rem;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 1rem;
  transition: all 0.4s linear;
  transform: translate(-100%);
}

.show-sidebar {
  transform: translate(0);
}

.nav-toggle {
  display: block;
}

.nav-links {
  display: none;
}

@media (min-width: 992px) {
  .nav-toggle {
    display: none;
  }

  .nav-links {
    display: flex;
  }

  .notifications-list {
    position: absolute;
    opacity: 1;
    padding: 1px;
    top: -30px;
    border-radius: 12px;
    transform: translateY(100px);
    transition: all 0.8s;
    background: gray;
    font-size: 16px;
    right: 12rem;
    width: auto;
    box-shadow: 1px 2px 10px #888888;
  }
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  margin-top: 10rem;
  border-radius: 50%;
  border: 4px solid rgb(228, 204, 69);
  border-top-color: rgb(32, 51, 73);
  animation: spinner 0.5s linear infinite;
}
